@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.topbanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.topbanner nav ul li {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul li {
  padding: 10px;
}

.fondo-negro {
  background-color: black;
}

.fondo-naranja {
  background-color: orange;
}

.texto-blanco {
  color: white;
}

.texto-naranja {
  color: orange;
}

.centrar {
  text-align: center;
}

.sin-decoracion {
  text-decoration: none;
}

.texto-marron {
  color: #3c2313;
}

.negrita {
  font-weight: bold;
}

.fuente-30 {
  font-size: 30px;
}

.fuente-40 {
  font-size: 40px;
}

.fuente-15 {
  font-size: 15px;
}

.fondo-blanco {
  background-color: #e5e5e5;
}

.banner {
  background-image: url("../img/banner.png");
  width: 100%;
  height: 521px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #3c2313;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: flex-end;
}

.banner span {
  margin-right: 20px;
  padding: 8px;
}

.redondeado {
  border-radius: 16px 16px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.vitrina {
  margin: 20px 0 20px 0;
  justify-content: space-evenly;
}

.tarjeta{
    background-color: #e5e5e5;
    border-radius: 16px 16px;
    width: 25%;
}

.tarjeta p {
    padding: 5px;
}

.tarjeta img {
    width: 100%;
}

input{
   background: #3C2313;
   border-radius: 16px;
   padding: 10px;
   color: white;
   font-weight: bold;
   margin: 10px;
   width: 50%;
   border: none;
}

input:focus{
    outline: none;
}

label{
    display: none;
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section form div  {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="reset"]{
    background: #8A8787;
}

input[type="submit"]{
    background: orange;
}


input[type="reset"], input[type="submit"]{
    width: 15%;
}