@import url('https://fonts.googleapis.com/css2?family=Roboto');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

header{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    margin: 15px;
}

.titulo span {

}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.menu{
    margin: 10px;
    color: #F3F3F3;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
}

.menu li {
    margin-right: 5px;
    padding: 20px;
}

.menu li:hover {
    background-color: #E5E5E5;
    color: #222222;
    cursor: pointer;
}

main{
    margin: 20px;
    display: flex;
    align-items: stretch;
    justify-content:space-around;
    flex-wrap: wrap;
}

.tarjeta{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-around;
    align-items: stretch;
    width: fit-content;
}

.tarjetaBlanca{
    background-color: #FFFFFF;
    width: 48%;
}

.textoEnvioGratis{
    position: absolute;
    font-weight: bold;
    color: #FC200C;
    font-size: 24px;
    top: 30px;
    left: 10px;
}

.textoEnvioGratis span{
    color: #FFFFFF;
}

.tituloTarjeta{
    text-align: center;
    color: #FC200C;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.subTituloTarjeta{
    margin: 0px 0px 50px 40px;

}

.imagenEntrega{
    border-radius: 5px;
    width: 100%;
}

.segundaLista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.segundaLista ol li {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
}

footer{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-footer {
    color: #F3F3F3;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: column;
}

.menu-footer li {
    padding: 20px;
}

.menu-footer li:hover {
    background-color: #E5E5E5;
    color: #222222;
    cursor: pointer;
}